<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <style type="text/css" media="screen">
        @import url("../assets/css/delete.css");
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

</head>
<body>
<div class="uk-tile-muted background">

{{/*nav*/}}
<nav class="uk-navbar-containe uk-tile-secondary" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">ToDoApp</a>
        </ul>

    </div>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
                <a href="#">Chisei Yamaguchi</a>
            </li>
        </ul>
    </div>
</nav>
{{/*nav終了*/}}
<div class="title_wrapper uk-margin">
    <h2 class="uk-margin">Delete</h2>
</div>
    <div class="title_wrapper">

    <p>本当に削除しますか？</p>
    </div>
    <div class="wrapper">

        <div class="uk-child-width-expand uk-grid-small uk-width-medium" uk-grid>
            <div class="uk-width-xxlarge uk-margin uk-text-center">
                <div class="uk-card uk-card-small uk-card-default uk-card-body uk-card-hover">
                    <div class="uk-card-header">
                        <h1 class="uk-card-title">Contents</h1>
                    </div>
                    <div class="uk-card-body">
                        {{ .todo.Text }}
                    </div>
                    <div class="uk-card-header">
                        　<h3 class="uk-card-title">Status</h3>
                    </div>
                    <div class="uk-card-body">
                        {{ .todo.Status }}
                    </div>
                    <div class="uk-card-header">
                        　<h3 class="uk-card-title">Created At</h3>
                    </div>
                    <div class="uk-card-body">
                        {{ .todo.CreatedAt }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="title_wrapper uk-margin">

    <form method="post" action="/delete/{{.todo.ID}}">
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                <input type="submit" value="削除" class="uk-button uk-button-danger uk-width-medium">
            </div>
        </fieldset>
    </form>

    </div>
</div>
</body>
</html>