<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

</head>
<body>
{{/*nav*/}}
<nav class="uk-navbar-containe uk-tile-secondary" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">ToDoApp</a>
        </ul>

    </div>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
                <a href="#">Chisei Yamaguchi</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
{{/*nav終了*/}}

    <h1>削除確認</h1>
    <p>本当に削除しますか？</p>
    <ul>
        <li>内容： {{.todo.Text}}</li>
        <li>状態： {{.todo.Status}}</li>
        <li>作成時間： {{.todo.CreatedAt}}</li>
    </ul>

    <form method="post" action="/delete/{{.todo.ID}}">
        <p><input type="submit" value="削除"></p>
        <p><a href="/">戻る</a></p>
    </form>
</body>
</html>